<mat-sidenav [mode]="'side'" opened autosize class="sidenav">
  <mat-nav-list role="list">
    <mat-list-item role="listitem" routerLink="/featured">
      <mat-icon matListItemIcon>home</mat-icon>
      <p matListItemLine>Home</p>
    </mat-list-item>

    <mat-list-item role="listitem" routerLink="/subscriptions">
      <mat-icon matListItemIcon>subscriptions</mat-icon>
      <p matListItemLine>Subscriptions</p>
    </mat-list-item>

    <mat-list-item role="listitem" routerLink="/history">
      <mat-icon matListItemIcon>history</mat-icon>
      <p matListItemLine>History</p>
    </mat-list-item>

    <mat-list-item role="listitem" routerLink="/liked-videos">
      <mat-icon matListItemIcon>thumb_up</mat-icon>
      <p matListItemLine>Liked Videos</p>
    </mat-list-item>
  </mat-nav-list>
</mat-sidenav>
